/ConferryTesisWebApp-master/ConferryTesisWebApp-master/Tesis1.0/build/
/ConferryTesisWebApp-master/ConferryTesisWebApp-master/Tesis1.0/dist/
/ConferryTesisWebApp-master/ConferryTesisWebApp-master/Tesis1.0/nbproject/private/
/Tesis1.2/build/
/Tesis1.2/dist/
/Tesis1.2/nbproject/private/